.editor {
  width: 600px;
}

.editor-toolbar,
.editor-content,
.editor-preview {
  border: 1px solid black;
  margin-bottom: 10px;
  padding: 5px;
}

.editor-toolbar {
  display: flex;
}

.editor-toolbar > * {
  margin-right: 5px;
  display: block;
}

.editor-preview {
  white-space: pre-wrap;
  font-family: monospace;
}
